.mockqa-highlight {
    /*outline: 5px solid #FCF !important;*/
    box-shadow: 0 0 0 5px #3F3 !important;
}

#mockqa-testlist {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -opera-box-sizing: border-box;
    background: #123;
    background-image: -moz-linear-gradient(left, transparent, rgba(0,0,0,0.5)), -moz-linear-gradient(top, #123, #000);
    background-image: -webkit-linear-gradient(left, transparent, rgba(0,0,0,0.5)), -webkit-linear-gradient(top, #123, #000);
    background-image: linear-gradient(left, transparent, rgba(0,0,0,0.5)), linear-gradient(top, #123, #000);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    color: #ABC;
    /*border: 1px solid #666;*/
    border-radius: 15px 0 0 15px;
    font-size: 11px;
    line-height: 24px;
    font-family: verdana, arial, sans-serif;
    font-family: monaco, monospace;
    position: fixed;
    top: 10px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    padding: 8px;


    width: 300px;
    bottom: 10px;
    opacity: 0.9;
    -moz-transition: right 0.3s ease-in-out;
    -webkit-transition: right 0.3s ease-in-out;
    right: 0;
}

.mockqa-active #mockqa-testlist {
    right: -270px;
}

#mockqa-testlist:hover {
    right: 0;
}

#mockqa-testlist * {
    width: auto;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -opera-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
}

#mockqa-testlist .mockqa-test-status-queued {
    color: #FFC;
    font-style: italic;

}

#mockqa-testlist .mockqa-test-status-running {
    color: #FF6;
    /*position: relative;*/
    /*left: -100%;*/
    /*background: #333;*/
}

#mockqa-testlist .mockqa-test-status-passed {
    color: #6F3;
}

#mockqa-testlist .mockqa-test-status-failed {
    color: #F33;
}

#mockqa-testlist h1 {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 24px;
    height: 24px;
    right: 0;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

#mockqa-testlist-body {
    position: absolute;
    left: 0;
    top: 24px;
    bottom: 50px;
    right: 0;
    overflow: auto;
}

#mockqa-testlist-footer {
    position: absolute;
    bottom: 0;
    line-height: 50px;
    height: 50px;
    right: 0;
    left: 0;
    text-align: center;
}

#mockqa-testlist button {
    border: none;
    padding: 5px 20px;
    background: #09C;
    background: -moz-radial-gradient(50% 0, ellipse, #09C, #036);
    background: -webkit-radial-gradient(50% 0, ellipse , #09C, #036);
    line-height: 10px;
    opacity: 0.8;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 -1px #036;
    color: #0CF;
    border: 1px solid #036;
    border-top-color: #0CF;
    box-shadow: 0 0 1px rgba(0,0,0,0.75), inset 0 3px 3px rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

#mockqa-testlist button:hover {
    cursor: pointer;
    color: #0FF;
    opacity: 1;
}

#mockqa-testlist .mockqa-test-group {
    padding: 4px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    /*background-position: 0 0;*/
    /*background-repeat: repeat;*/
    /*background-size: 60px 60px;*/
    /*background-image: -moz-linear-gradient(top, #000 0, #000 50%, #FFF 50%, #FFF 100%);*/
}

#mockqa-testlist .mockqa-test-group:last-child {
    border-bottom: none;
}

#mockqa-testlist .mockqa-test-group h2 {
    font-size: inherit;
    /*font-weight: bold;*/
    margin: 0;
    padding: 0 10px 0 30px;
    color: #FFF;
    color: #DEF;
    position: relative;
    
}

#mockqa-testlist .mockqa-test-group.mockqa-current-page {
    background-color: rgba(255, 255, 255, 0.1);
}

#mockqa-testlist .mockqa-test-group + .mockqa-test-group {
}

#mockqa-testlist .mockqa-test-group li {
    /*background: rgba(0,0,0,0.2);*/
    padding: 0 70px 0 30px;
    text-align: left;
    position: relative;
    -moz-transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
}

#mockqa-testlist .mockqa-test-group h2:hover,
#mockqa-testlist .mockqa-test-group li:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

#mockqa-testlist .mockqa-test-group li:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    bottom: 0;
    content: "∙";
    font-size: 15px;
    text-align: center;
    font-style: normal;
}

#mockqa-testlist .mockqa-test-group li.mockqa-test-status-queued:before {
    content: "★";
}


#mockqa-testlist .mockqa-test-group li.mockqa-test-status-passed:before {
    content: "✓";
}

#mockqa-testlist .mockqa-test-group li.mockqa-test-status-failed:before {
    content: "✗";
}

#mockqa-testlist .mockqa-test-group li.mockqa-test-status-running:before {
    content: "";
    background: url(spinner.gif) 50% 50% no-repeat;
}

#mockqa-testlist .mockqa-test-group li .mockqa-test-progress {
    position: absolute;
    width: 40px;
    right: 40px;
    top: 0;
    text-align: right;
}

#mockqa-testlist .mockqa-test-group li .mockqa-test-info {
    position: absolute;
    width: 40px;
    right: 10px;
    top: 7px;
    text-align: center;
    line-height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #039;
    color: #FFF;
    font-size: 10px;
    font-style: italic;
    text-indent: -2px;
    text-decoration: none;
    display: none;
}

#mockqa-testlist .mockqa-test-group li:hover .mockqa-test-info {
    display: block;
}

#mockqa-testlist .mockqa-test-group li .mockqa-test-info:hover {
    background: #09C;
    
}

/*
#mockqa-testlist-hint {
    background: #CC0;
    background: -moz-linear-gradient(top, #FF0, #CC0);
    color: #000;
    border: 5px solid #000;
    padding: 5px 10px;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 50%;
    left: -220px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    font-family: sans-serif;
    font-size: 18px;
    opacity: 0.5
}

#mockqa-testlist-hint:after {
    content: "▸";
    font-size: 25px;
    position: absolute;
    color: #000;
    right: -12px;
    top: 20px;
}

#mockqa-testlist-hint:hover,
#mockqa-testlist:hover #mockqa-testlist-hint {
    display: none;
}
*/
